<!DOCTYPE html>
<html>
  <head>
    <title>Crud de Clientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <script>
      if(location.href.indexOf('delete=true') != -1){
        alert('Cliente excluído com sucesso!')
      } else if(location.href.indexOf('edit=true') != -1){
        alert('Cliente editado com sucesso!')
      } else if(location.href.indexOf('new=true') != -1){
        alert('Cliente cadastrado com sucesso!')
      }
      
    </script>
    <h1>Listagem de Clientes</h1>
    <p>Clientes já cadastrado no sistema</p>

    <table>
      <thead>
        <tr>
          <th style="width: 50%">Nome</th>
          <th style="width: 15%">Idade</th>
          <th style="width: 15%">UF</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% if(!docs || docs.length === 0) { %>
          <tr>
            <td colspan="4">Nenhum cliente Cadastrado</td>
          </tr>
        <% } else { %>
          <% docs.forEach(customer => { %>
            <tr>
                <td><%= customer.nome %></td>
                <td><%=customer.idade%></td>
                <td><%=customer.uf%></td>
                <td>
                  <a href="/edit/<%= customer._id %>">Editar</a>
                  <a href="/delete/<%= customer._id %>" onclick="return confirm('tem certeza?')">Excluir</a>

                </td>
            </tr>
          <% })  %>        
        <% } %>
      </tbody>
      <tfoot>
        <td colspan="4"><a href="/new">Cadastrar Novo</a> </td>
      </tfoot>
    </table>
  </body>
  
  
</html>
